
*{
font-family: "Roboto", sans-serif;
font-size: 18px;
}

:root{
  --background: #f8f8f8;
  --header1: #d48edf;
  --header2: #993fb4;
  --defaultText:#737373;
  --defaultText2:#4d4d4d;
  --h1Colorido: #5e548e;
  --borderlight: #f8d7ff;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;

}

#user-selector{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}