
*{
font-family: "Roboto", sans-serif;
font-size: 18px;
scroll-behavior: smooth;
}

:root {
  --background: #fff;
  --background-2: #f8f8f8; 
  --lilas1: #d48edf;
  --lilas2: #993fb4;
  --defaultText:#737373;
  --defaultText2:#4d4d4d;
  --h1Colorido: #5e548e;
  --borderlight: #f8d7ff;
  --white: #fff;
  --black: #000;
  --accordion1: #e7e7e7;
  --accordion2: #f0f0f0;
}


:root[data-theme='dark'] {
  --background: #25272c;   
  --background-2: #28292E;     
  --lilas1: #b48ed6;          
  --lilas2: #9d4edd;          
  --defaultText: #fff;    
  --defaultText2: #F0F0F0;     
  --h1Colorido: #7e49a1;     
  --borderlight: #f8d7ff;    
  --white: #fff;         
  --black: #000; 
  --accordion1: #616161; 
  --accordion2: #6b6b6b;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;

}

#user-selector{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}